<template>
  <div>
    <div ref="editorPanel" class="editor">
      <VueDiagramEditor
        ref="editor"
        :height="height"
        :node-color="nodeColor"
        :node-pulsable="nodePulsable"
        :node-deletable="
          (node) => {
            return node.data.type != 0 && node.data.type != 1;
          }
        "
        @updated-node="updateHistory"
        @deleted-node="updateHistory"
        @created-link="createdLink"
        @deleted-link="updateHistory"
        @click-port="(e) => this.log(e)"
      >
        <v-container slot="node" slot-scope="{ node }" @click="log(node)">
          <v-row
            v-if="1"
            v-bind:style="{
              height: node.size.height - 22 + 'px',
            }"
          >
            <div v-if="debugMode" style="display: absolute">
              {{ node.data.in }}
            </div>
            <!-- メイン入力 テンプレート -->
            <template v-if="node.data.type == 0">
              <v-col align-self="end" class="text-left ma-0 pa-0" cols="12">
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="red"
                  @click="addOutput(node)"
                >
                  <v-icon dark> mdi-plus </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="primary"
                  @click="deleteOutput(node)"
                >
                  <v-icon dark> mdi-minus </v-icon>
                </v-btn>
              </v-col>
            </template>

            <!-- メイン出力 テンプレート -->
            <template v-if="node.data.type == 1">
              <v-col align-self="end" class="text-right ma-0 pa-0" cols="12">
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="red"
                  @click="addInput(node)"
                >
                  <v-icon dark> mdi-plus </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="primary"
                  @click="deleteInput(node)"
                >
                  <v-icon dark> mdi-minus </v-icon>
                </v-btn>
              </v-col>
            </template>

            <!-- 分岐 テンプレート -->
            <template v-if="node.data.type == 2">
              <v-col align-self="end" class="text-center ma-0 pa-0" cols="12">
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="red"
                  @click="addOutput(node)"
                >
                  <v-icon dark> mdi-plus </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="primary"
                  @click="deleteOutput(node)"
                >
                  <v-icon dark> mdi-minus </v-icon>
                </v-btn>
              </v-col>
            </template>

            <!-- 遅延素子 テンプレート -->
            <template v-if="node.data.type == 3"> </template>

            <!-- 排他的論理和 テンプレート -->
            <template v-if="node.data.type == 4">
              <v-col align-self="end" class="text-center ma-0 pa-0" cols="12">
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="red"
                  @click="addInput(node)"
                >
                  <v-icon dark> mdi-plus </v-icon>
                </v-btn>
                <v-btn
                  class="ma-1 pa-0"
                  dark
                  x-small
                  color="primary"
                  @click="deleteInput(node)"
                >
                  <v-icon dark> mdi-minus </v-icon>
                </v-btn>
              </v-col>
            </template>
          </v-row>
        </v-container>
      </VueDiagramEditor>
    </div>

    <div class="text-center"></div>
    <div class="panel">
      <v-container>
        <v-row>
          <v-col>
            <v-switch
              v-model="debugMode"
              label="デバッグモード"
              color="red"
              hide-details
            ></v-switch
          ></v-col>
          <v-col>
            <v-slider
              v-if="debugMode"
              v-model="debugDelay"
              color="red"
              min="0"
              max="5000"
              step="250"
              thumb-label="always"
              ticks
            ></v-slider
          ></v-col>
        </v-row>
        <v-row>
          <v-col cols="5">
            <v-text-field
              label="入力値"
              color="primary"
              hide-details
              clearable
              v-model="input1"
              @keypress="isBinary($event)"
            >
              ></v-text-field
            >
          </v-col>
          <v-col cols="2">
            <v-btn
              width="100%"
              dark
              large
              :color="isDecode ? 'deep-orange' : 'primary'"
              @click="isDecode = !isDecode"
            >
              {{ isDecode ? "復号化" : "符号化" }}
            </v-btn>
          </v-col>
          <v-col cols="5">
            <v-text-field
              label="出力結果"
              color="primary"
              readonly
              hide-details
              clearable
              v-model="output1"
              @keypress="isBinary($event)"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn class="mx-2" fab large @click="undo" :disabled="!undoable">
            <v-icon large> mdi-arrow-left-thick </v-icon>
          </v-btn>

          <v-btn class="mx-2" fab large @click="redo" :disabled="!redoable">
            <v-icon large> mdi-arrow-right-thick </v-icon>
          </v-btn>

          <v-btn
            class="mx-2"
            fab
            large
            color="primary"
            :disabled="!isReady()"
            @click="run()"
          >
            <v-icon> mdi-play </v-icon>
          </v-btn>

          <v-btn class="mx-2" fab dark large color="red" @click="resetInput()">
            <v-icon> mdi-autorenew </v-icon>
          </v-btn>

          <v-menu
            bottom
            origin="center center"
            transition="scale-transition"
            offset-x
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                v-bind="attrs"
                v-on="on"
                class="mx-2"
                fab
                dark
                large
                color="purple"
              >
                <v-icon dark> mdi-plus </v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="(item, i) in ['分岐', '遅延素子', '排他的論理和']"
                :key="i"
                link
              >
                <v-list-item-title
                  class="text-center"
                  @click="addNodeByType(i + 2, 400, 0)"
                  >{{ item }}</v-list-item-title
                >
              </v-list-item>
            </v-list>
          </v-menu>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import VueDiagramEditor from "vue-diagram-editor";
import _ from "lodash";

export default {
  name: "CESimulator",
  components: {
    VueDiagramEditor,
  },
  data: () => {
    const nodeType = {
      mainInput: {
        color: "#00f",
        type: 0,
      },
      mainOutput: {
        color: "#00f",
        type: 1,
        in: [null, null],
      },
      branch: {
        color: "#00f",
        type: 2,
        in: [null],
      },
      delay: {
        color: "#00f",
        type: 3,
        state: "0",
        in: [null],
      },
      exor: {
        color: "#00f",
        type: 4,
        in: [null, null],
      },
    };
    const mainTemplate = {
      mainInput: {
        title: "メイン入力",
        size: {
          width: 130,
          height: 57,
        },
        portsOut: {
          o1: "出力1",
        },
        data: nodeType.mainInput,
      },
      mainOutput: {
        title: "メイン出力",
        size: {
          width: 130,
          height: 75,
        },
        portsIn: {
          i1: "入力1",
          i2: "入力2",
        },
        data: nodeType.mainOutput,
      },
      branch: {
        title: "分岐",
        size: {
          width: 160,
          height: 75,
        },
        portsIn: {
          i1: "入力1",
        },
        portsOut: {
          o1: "出力1",
          o2: "出力2",
        },
        data: nodeType.branch,
      },
      delay: {
        title: "遅延素子",
        size: {
          width: 100,
          height: 57,
        },
        portsIn: {
          i1: "入力1",
        },
        portsOut: {
          o1: "出力1",
        },
        data: nodeType.delay,
      },
      exor: {
        title: "排他的論理和",
        size: {
          width: 160,
          height: 75,
        },
        portsIn: {
          i1: "入力1",
          i2: "入力2",
        },
        portsOut: {
          o1: "出力1",
        },
        data: nodeType.exor,
      },
    };
    return {
      debugMode: false, // trueのときログが出力されるように
      debugDelay: 250,
      height: window.innerHeight - 10,
      input1: "",
      output1: "",
      isCalculation: false,
      isDecode: false,
      nodeType: nodeType,
      nodeTemplate: mainTemplate,
      diagram: {
        nodes: [],
        links: [],
      },
      history: [], // 図の変更履歴
      historyOffset: 0, // どのくらい履歴を遡っているか 0が最新(undoで+1 redoで-1)
      historySync: false, // 履歴をエディタと同期したときに
      isDiagramSyncEnabled: false,
      isHistorySyncEnabled: false,
      unwatch: function () {},
    };
  },
  methods: {
    // log - debugMode == true のときのみログを出力
    log(...log) {
      if (!this.debugMode) return;
      console.log(...log);
    },
    // Objectを参照渡ししないように, 別参照としての同じオブジェクトを返す
    formatObject(obj) {
      return JSON.parse(JSON.stringify(obj));
    },
    // 図の編集履歴 更新  履歴すべてのインデックス+1個ずれて 0番目が最新の状態
    updateHistory() {
      if (!this.isHistorySyncEnabled) return;
      if (this.historySync) {
        this.historySync = false;
        return;
      }
      if (this.historyOffset != 0) {
        this.history.splice(0, this.historyOffset);
        this.history.unshift(this.formatObject(this.model));
        this.historyOffset = 0;
      } else {
        this.history.unshift(this.formatObject(this.model));
        this.log(this.history);
      }
    },
    undo() {
      this.log("履歴オフセット: ", this.historyOffset);
      this.log("履歴: ", this.history);
      let previous = this.history[this.historyOffset + 1]; // オフセット+1番目の履歴をpreviousと定義
      if (previous == null) return; // previous nullチェック (履歴がそもそも存在するかどうか "if(!this.undoable) return;" でも良)
      this.diagram = this.formatObject(previous); // 図の変数に代入 → 変数の監視(this.$watch.diagram)によりエディタに同期される
      this.historyOffset++; // オフセットに1を足す(nullチェック後に+1することで, +1番目の履歴が存在しなかった場合オフセットは+1されない)
      this.historySync = true; // "this.diagram = this.formatObject(previous)" により同期で2回 updateHistoryが呼び出されてしまうため 無理やり一回目を打ち消すためのフラグ 要:最適化
    },
    redo() {
      this.log("履歴オフセット: ", this.historyOffset);
      this.log("履歴: ", this.history);
      let previous = this.history[this.historyOffset - 1]; // オフセット-1番目の履歴をpreviousと定義
      if (previous == null) return; // previous nullチェック (履歴がそもそも存在するかどうか "if(!this.redoable) return;" でも良)
      this.diagram = this.formatObject(previous); // 図の変数に代入 → 変数の監視(this.$watch.diagram)によりエディタに同期される
      this.historyOffset--; // オフセットから1を引く(nullチェック後に+1することで, -1番目の履歴が存在しなかった場合オフセットは+1されない)
      this.historySync = true; // "this.diagram = this.formatObject(previous)" により同期で2回 updateHistoryが呼び出されてしまうため 無理やり一回目を打ち消すためのフラグ 要:最適化
    },
    mainInit() {
      const mainInput = this.nodeType["mainInput"].type;
      const mainOutput = this.nodeType["mainOutput"].type;
      const branch = this.nodeType["branch"].type;
      const delay = this.nodeType["delay"].type;
      const exor = this.nodeType["exor"].type;

      this.disableDiagramSync(); //履歴に追加されないようにエディターへの同期を無視
      this.addNodeByType(mainInput, 400, 50);
      this.addNodeByType(mainOutput, 600, 50);
      this.enableDiagramSync();
      this.syncToEditor(); //すべて追加したあとで同期
      this.log(this.getNodesByType(1));
    },
    testInit() {
      const mainInput = this.nodeType["mainInput"].type;
      const mainOutput = this.nodeType["mainOutput"].type;
      const branch = this.nodeType["branch"].type;
      const delay = this.nodeType["delay"].type;
      const exor = this.nodeType["exor"].type;

      this.disableDiagramSync(); //履歴に追加されないようにエディターへの同期を無視
      this.addNodeByType(mainInput, 50, 50);
      this.addNodeByType(mainOutput, 860, 50);
      this.addNodeByType(branch, 200, 50);
      this.addNodeByType(delay, 380, 32);
      this.addNodeByType(branch, 500, 50);
      this.addNodeByType(exor, 680, 150);

      const links = [
        {
          start_id: "mainInput",
          start_port: "o1",
          end_id: "branch1",
          end_port: "i1",
        },
        {
          start_id: "branch1",
          start_port: "o1",
          end_id: "delay1",
          end_port: "i1",
        },
        {
          start_id: "branch1",
          start_port: "o2",
          end_id: "exor1",
          end_port: "i2",
        },
        {
          start_id: "delay1",
          start_port: "o1",
          end_id: "branch2",
          end_port: "i1",
        },
        {
          start_id: "branch2",
          start_port: "o1",
          end_id: "mainOutput",
          end_port: "i1",
        },
        {
          start_id: "branch2",
          start_port: "o2",
          end_id: "exor1",
          end_port: "i1",
        },
        {
          start_id: "exor1",
          start_port: "o1",
          end_id: "mainOutput",
          end_port: "i2",
        },
      ];
      this.diagram.links = links;

      this.enableDiagramSync();
      this.syncToEditor(); //すべて追加したあとで同期
    },
    // エディタの図を変数に同期
    syncFromEditor(diagram = this.model) {
      this.disableDiagramSync(); // 次の切り替えまで図が自動で同期されない
      this.diagram = this.formatObject(diagram);
      // this.log("エディタによる変更を変数に適用");
      this.enableDiagramSync(); // ここからは自動で同期される
    },
    // 変数の図をエディタに同期
    syncToEditor(diagram = this.diagram) {
      this.disableDiagramSync(); // 図が自動で同期されない
      this.$refs.editor.setModel(this.formatObject(diagram));
      // this.log("変数による変更をエディタに適用");
      this.enableDiagramSync(); // ここからは自動で同期される
      this.updateHistory(); // 変数からの編集でも履歴を更新
    },
    // 変数・エディタ間の自動同期 切り替え
    enableDiagramSync() {
      if (!this.isDiagramSyncEnabled) {
        let unwatchModel = this.$watch(
          "model",
          _.debounce(this.syncFromEditor, 100),
          {
            deep: true,
          }
        );
        let unwatchDiagram = this.$watch(
          "diagram",
          _.debounce(this.syncToEditor, 100),
          {
            deep: true,
          }
        );
        this.unwatch = function () {
          unwatchModel();
          unwatchDiagram();
        };
        this.isDiagramSyncEnabled = true;
      }
    },
    disableDiagramSync() {
      if (this.isDiagramSyncEnabled) {
        this.unwatch();
        this.isDiagramSyncEnabled = false;
      }
    },
    enableHistorySync() {
      if (!this.isHistorySyncEnabled) {
        this.isHistorySyncEnabled = true;
      }
    },
    disableHistorySync() {
      if (this.isHistorySyncEnabled) {
        this.isHistorySyncEnabled = false;
      }
    },

    //addNodeByType
    addNodeByType(type, x = 0, y = 0) {
      if (type == 0) {
        if (this.getNodesByType(type).length > 0) return;
        this.diagram.nodes.push({
          ...this.formatObject(this.nodeTemplate.mainInput),
          id: "mainInput",
          coordinates: { x: x, y: y },
        });
      } else if (type == 1) {
        if (this.getNodesByType(type).length > 0) return;
        this.diagram.nodes.push({
          ...this.formatObject(this.nodeTemplate.mainOutput),
          id: "mainOutput",
          coordinates: { x: x, y: y },
        });
      } else if (type == 2) {
        this.diagram.nodes.push({
          coordinates: { x: x, y: y },
          ...this.formatObject(this.nodeTemplate.branch),
          id: "branch" + (this.getNodesByType(type).length + 1),
          title:
            this.nodeTemplate.branch.title +
            (this.getNodesByType(type).length > 0
              ? " " + (this.getNodesByType(type).length + 1)
              : ""),
        });
      } else if (type == 3) {
        this.diagram.nodes.push({
          coordinates: { x: x, y: y },
          ...this.formatObject(this.nodeTemplate.delay),
          id: "delay" + (this.getNodesByType(type).length + 1),
          title:
            this.nodeTemplate.delay.title +
            (this.getNodesByType(type).length > 0
              ? " " + (this.getNodesByType(type).length + 1)
              : ""),
        });
      } else if (type == 4) {
        this.diagram.nodes.push({
          coordinates: { x: x, y: y },
          ...this.formatObject(this.nodeTemplate.exor),
          id: "exor" + (this.getNodesByType(type).length + 1),
          title:
            this.nodeTemplate.exor.title +
            (this.getNodesByType(type).length > 0
              ? " " + (this.getNodesByType(type).length + 1)
              : ""),
        });
      }
    },
    // 入力ポートを増やす
    addInput(node) {
      const inputCount = Object.keys(node.portsIn).length;
      node.portsIn = {
        ...node.portsIn,
        ["i" + (inputCount + 1)]: "入力" + (inputCount + 1),
      };
      node.size.height += 18;
      this.updateHistory();
    },

    // 入力ポートを減らす
    deleteInput(node) {
      const inputCount = Object.keys(node.portsIn).length;
      if (inputCount <= 1) return;
      let buffer = {};
      for (let i = 0; i < inputCount - 1; i++) {
        buffer = {
          ...buffer,
          [Object.keys(node.portsIn)[i]]:
            node.portsIn[Object.keys(node.portsIn)[i]],
        };
      }
      node.portsIn = buffer;
      node.size.height -= 18;
      this.updateHistory();
    },

    // 出力ポートを増やす
    addOutput(node) {
      const outputCount = Object.keys(node.portsOut).length;
      node.portsOut = {
        ...node.portsOut,
        ["o" + (outputCount + 1)]: "出力" + (outputCount + 1),
      };
      node.size.height += 18;
      this.updateHistory();
    },

    // 出力ポートを減らす
    deleteOutput(node) {
      const outputCount = Object.keys(node.portsOut).length;
      if (outputCount <= 1) return;
      let buffer = {};
      for (let i = 0; i < outputCount - 1; i++) {
        buffer = {
          ...buffer,
          [Object.keys(node.portsOut)[i]]:
            node.portsOut[Object.keys(node.portsOut)[i]],
        };
      }
      node.portsOut = buffer;
      node.size.height -= 18;
      this.updateHistory();
    },

    // すべてのリンクを削除
    deleteAllLink() {
      this.links = null;
      this.$refs.diagram.setModel({
        nodes: this.nodes,
        links: this.links,
      });
    },

    // 指定したタイプのノードの配列を取得
    getNodesByType(type) {
      let nodes = [];
      this.diagram.nodes.forEach((node) => {
        if (node.data.type == type) nodes.push(node);
      });
      return nodes;
    },

    // ハミング距離が最小となるレコードを取得
    findMinRecords(array, prop, value) {
      let result = [];
      let buffer = [];
      for (let i = 0; i < array.length; i++) {
        let distance = this.getHammingDistance(value, array[i][prop]);
        if (distance == 0) {
          result.push(array[i]);
          break;
        } else {
          buffer.push(distance);
        }
      }
      if (result.length > 0) return result;
      return array.filter((record) => {
        return (
          this.getHammingDistance(value, record[prop]) == Math.min(...buffer)
        );
      });
      // return array.filter((record) => {
      //   return record[prop] == value;
      // });
    },

    findRecords(array, prop, value = null) {
      //テーブル形式の配列から指定のカラム名の指定の値を持つレコードを抽出
      let result = [];
      for (let i = 0; i < array.length; i++) {
        if (value == null || array[i][prop] == value) result.push(array[i]);
      }
      return result;
    },

    //Nodeの繋がっているlinksを取得
    getConnectedLinksByNode(node, isOpposite = false) {
      return this.findRecords(
        this.diagram.links,
        isOpposite ? "end_id" : "start_id",
        node.id
      );
    },

    //Linkの繋がっているnodeを取得
    getConnectedNodeByLink(link, isOpposite = false) {
      return this.findRecords(
        this.diagram.nodes,
        "id",
        isOpposite ? link.start_id : link.end_id
      )[0];
    },

    //Nodeから(outのlinks越しに)繋がっているnodesを取得
    getConnectedNodesByNode(node, isOpposite = false) {
      let results = [];
      this.getConnectedLinksByNode(node, isOpposite).forEach((link) => {
        let connectedNode = this.getConnectedNodeByLink(link, isOpposite); // 接続先のノードを取得
        // 接続先のポートの番号を取得
        let index = !isOpposite
          ? Object.keys(connectedNode.portsIn).indexOf(link.end_port)
          : Object.keys(connectedNode.portsOut).indexOf(link.start_port);
        let result = { node: connectedNode, index: index };
        // ノードとポート番号の情報を結果の配列に入れる
        results.push(result);
      });
      return results;
    },

    //接続先のポート番号を取得
    getPortIndexByNodes(startNode, endNode) {
      let connectedLinks = this.getConnectedLinksByNode(startNode);
      let link = this.findRecords(connectedLinks, "end_id", endNode.id)[0];
      let index = Object.keys(endNode.portsIn).indexOf(link.end_port);
      return index;
    },

    // すべてのノードの入力ポートへの入力された値をリセットする
    clearCache() {
      this.diagram.nodes.forEach((node) => {
        if ("in" in node.data) {
          for (let i = 0; i < node.data.in.length; i++) {
            node.data.in[i] = null;
          }
        }
      });
    },

    // すべての遅延素子の状態を0に戻す
    clearAllDelayState() {
      this.getNodesByType(3).forEach((delay) => {
        delay.data.state = "0";
      });
    },

    // 2つのベクトルのハミング距離を求める
    getHammingDistance(a, b) {
      if (a.length != b.length) return;
      let result = 0;
      for (let i = 0; i < a.length; i++) {
        if (a[i] != b[i]) result++;
      }
      return result;
    },

    //すべての遅延素子の状態を求める
    getAllDelayState() {
      let result = "";
      const allDelays = this.getNodesByType(3);
      for (let i = 0; i < allDelays.length; i++) {
        result += allDelays[i].data.state;
      }
      return result;
    },

    //入力のすべての組み合わせを求める
    getAllInputs(bitCount) {
      let inputs = [];
      for (let i = 0; i < Math.pow(2, bitCount); i++) {
        let input = "";
        for (let j = 0; j < bitCount; j++) {
          input += (
            Math.floor(i / Math.pow(2, bitCount - 1 - j)) % 2
          ).toString();
        }
        inputs.push(input);
      }
      return inputs;
    },

    run() {
      this.clearCache();

      if (this.input1.length <= 0) return;
      if (this.isDecode) this.decode();
      else {
        this.encode();
      }
    },

    async wait(ms) {
      await new Promise((resolve) => setTimeout(resolve, ms));
    },

    async encode() {
      this.disableDiagramSync();
      this.disableHistorySync();

      const mainInput = this.getNodesByType(0)[0];
      const mainOutput = this.getNodesByType(1)[0];
      //メイン入力が0文字以下 または メイン入力が出力ポートの数で割り切れない場合 符号化しない
      if (
        this.input1.length < 1 ||
        this.input1.length % Object.keys(mainInput.portsOut).length != 0
      ) {
        alert("メイン入力の値が正しくありません");
        return -1;
      }

      this.output1 = "";

      for (
        let t = 0;
        t < this.input1.length / Object.keys(mainInput.portsOut).length;
        t++
      ) {
        let queue = [mainInput]; // メイン入力から実行する
        for (let i = 0; typeof queue[i] != "number"; i++) {
          let nextNodes = await this.tick(queue[i], t);
          queue.push(...nextNodes);
          if (this.debugMode) {
            queue[i].data.color = "#0f0";
            await this.wait(this.debugDelay);
            queue[i].data.color = "#00f";
          }
          // 数字が帰ってきたときには 中断
          if (typeof nextNodes[0] == "number") {
            break;
          }
        }
        this.clearCache();
        // エラーで終わっていた場合
        if (queue[queue.length - 1] != 0) {
          alert("errorコード: " + queue[queue.length - 1]);
          break;
        }
      }
      this.clearAllDelayState();
      this.enableDiagramSync();
      this.enableHistorySync();
    },

    async decode() {
      this.disableDiagramSync();
      this.disableHistorySync();
      const mainInput = this.getNodesByType(0)[0];
      const mainOutput = this.getNodesByType(1)[0];
      const allDelays = this.getNodesByType(3);
      let count = Object.keys(mainInput.portsOut).length;
      let inputs = this.getAllInputs(count);
      let delayStatus = this.getAllInputs(allDelays.length);

      const inputBuffer = this.input1;
      let table = [];
      for (let i = 0; i < delayStatus.length; i++) {
        for (let j = 0; j < delayStatus[i].length; j++) {
          allDelays[j].data.state = delayStatus[i][j].toString();
        }
        for (let k = 0; k < inputs.length; k++) {
          //入力がnビットだった場合 nビットの全パターン
          this.input1 = inputs[k]; //入力に0,1の全パターンを入れる
          this.log("aaaa", k, this.input1);
          this.output1 = "";

          for (
            let t = 0;
            t < this.input1.length / Object.keys(mainInput.portsOut).length;
            t++
          ) {
            let queue = [mainInput]; // メイン入力から実行する
            for (let i = 0; typeof queue[i] != "number"; i++) {
              let nextNodes = await this.tick(queue[i], t);
              queue.push(...nextNodes);
              if (typeof nextNodes[0] == "number") {
                break;
              }
            }
            // alert("終了");
            this.clearCache();
            // エラーで終わっていた場合
            if (queue[queue.length - 1] != 0) {
              alert("errorコード: " + queue[queue.length - 1]);
              break;
            }
          }

          table.push({
            delay: delayStatus[i],
            nextDelay: this.getAllDelayState(),
            input: inputs[k],
            output: this.output1,
          });
          this.resetInput();
          for (let j = 0; j < delayStatus[i].length; j++) {
            allDelays[j].data.state = delayStatus[i][j].toString();
          }
        }
      }
      this.input1 = inputBuffer;
      const outputCount = Object.keys(mainOutput.portsIn).length;
      if (this.input1.length % outputCount != 0) {
        this.log("出力の数と合っていない");
        return;
      }
      let input = [];
      for (let i = 0; i < this.input1.length / outputCount; i++) {
        input.push(this.input1.substr(i * outputCount, outputCount));
      }
      this.log("input", input);
      this.log("table", table);

      let currentStatus = delayStatus[0];
      let result = "";
      for (let i = 0; i < input.length; i++) {
        let records = this.findMinRecords(
          this.findRecords(table, "delay", currentStatus),
          "output",
          input[i]
        );
        this.log("テスト reco", records);
        currentStatus = records[0].nextDelay;
        result += records[0].input;
      }
      this.log(result);
      this.clearCache();
      this.clearAllDelayState();
      this.resetInput();
      this.enableDiagramSync();
      this.enableHistorySync();

      this.output1 = result;
    },

    async tick(node, inputCount = 0) {
      const EXIT = [0];
      const ERROR = (number) => {
        if (number <= 0) return -1;
        return [number];
      };
      const BREAK = [];
      // 現在のノードがメイン出力以外の場合 共通処理
      if (node.data.type != 1) {
        let nextNodes = []; // この関数で返す 次に処理すべきノードの配列
        let outputValues = []; // 現在のノードから出力される値の配列
        let connectedInfo = this.getConnectedNodesByNode(node);

        // 出力ポート と 接続されているノードの数が合わない場合 符号化しない
        if (Object.keys(node.portsOut).length != connectedInfo.length) {
          return ERROR(1);
        }
        // 現在のノードがメイン入力だった場合
        if (node.data.type == this.nodeType["mainInput"].type) {
          for (let i = 0; i < connectedInfo.length; i++) {
            outputValues.push(
              // メイン入力を出力ポートの数で分割
              this.input1[i + connectedInfo.length * inputCount]
            );
          }
        } else {
          if (node.data.in.length != Object.keys(node.portsIn).length)
            return ERROR(2); // 現在のノードに入力された値の数と入力ポートの数が同じじゃなかったら 終了

          // 現在のノードが分岐だった場合
          if (node.data.type == this.nodeType["branch"].type) {
            // 現在のノードから出力する値の配列に 値を追加していく
            for (let i = 0; i < connectedInfo.length; i++) {
              // すべてに対して 一つの入力を出力 (入力をそのまま分岐する)
              outputValues.push(node.data.in[0]);
            }
          }
          // 現在のノードが遅延だった場合
          else if (node.data.type == this.nodeType["delay"].type) {
            // 現在のノードから出力する値の配列に 値を追加していく
            for (let i = 0; i < connectedInfo.length; i++) {
              // 記憶している値を出力する
              outputValues.push(node.data.state);
            }
            // 入力を記憶する
            node.data.state = node.data.in[0];
          }
          // 現在のノードが排他的論理和だった場合
          else if (node.data.type == this.nodeType["exor"].type) {
            // 現在のノードへの入力が足りない場合は処理をスキップ
            if (node.data.in.indexOf(null) != -1) return BREAK;
            // 入力を全部足して 2で割ったあまりを計算 (排他的論理和の計算)
            let result = 0;
            node.data.in.forEach((n) => {
              result += Number(n);
            });
            result = (result % 2).toString();
            // 現在のノードから出力する値の配列に 値を追加していく
            for (let i = 0; i < connectedInfo.length; i++) {
              // すべて排他的論理和の計算結果を出力
              outputValues.push(result);
            }
          }
        }

        //現在のノードから出力される値の数と接続されているノードの数が合わない場合 終了
        if (outputValues.length != connectedInfo.length) return ERROR(3);

        // 現在のノードに繋がっているノードをすべて取得して、それぞれに対して forEach の中で処理を行う
        connectedInfo.forEach((info, loopCount) => {
          let connectedNode = info.node; // 接続先ノード
          let portIndex = info.index; // 接続先ポート番号
          if (connectedNode.data.in[portIndex] != null) return ERROR(4); // 接続先ポートの入力にすでに値が入っていたら処理をスキップ(次の接続先ノードの処理へ: for文でいうところのbreak)

          connectedNode.data.in[portIndex] = outputValues[loopCount]; // 接続先ポートに現在のポートの出力を入力
          nextNodes.push(connectedNode);
          if (this.debugMode) {
            this.historySync = true;
            this.syncToEditor();
          }
        });

        return nextNodes;
      }
      // メイン出力の場合
      else if (node.data.type == 1) {
        if (node.data.in.indexOf(null) != -1) return BREAK;
        node.data.in.forEach((data) => {
          this.output1 += data;
        });
        return EXIT;
      }
      //ノードタイプが何にも当てはまらない場合
      return ERROR(5);
    },

    pluck(array, prop) {
      const obj = array.map((prev) => {
        return prev[prop];
      });
      return obj;
    },

    isObject(value) {
      return value !== null && typeof value === "object";
    },

    isNodeOkay(node) {
      let portsOut = true;
      let portsIn = true;

      if ("portsOut" in node) {
        portsOut =
          this.getConnectedNodesByNode(node).length ===
          Object.keys(node.portsOut).length;
      }
      if ("portsIn" in node) {
        portsIn =
          this.getConnectedNodesByNode(node, true).length ===
          Object.keys(node.portsIn).length;
      }

      return portsOut && portsIn;
    },

    nodeColor(node) {
      if (node.data.color == "#0f0") return node.data.color;
      if (this.isNodeOkay(node)) {
        node.data.color = "#00f";
      } else {
        node.data.color = "#f00";
      }
      return node.data.color;
    },

    nodePulsable(node) {
      return node.data.color == "#f00";
    },

    isReady() {
      return !this.diagram.nodes.some((node) => {
        return node.data.color == "#f00";
      });
    },

    resetInput() {
      this.input1 = "";
      this.output1 = "";
    },

    isBinary: function (event) {
      event = event ? event : window.event;
      var charCode = event.which ? event.which : event.keyCode;
      if (charCode == 48 || charCode == 49) {
        return true;
      } else {
        event.preventDefault();
      }
    },

    keyDownHandler: function keyDownHandler(e) {
      if (e.key === "z" && (e.ctrlKey || e.metaKey) && this.undoable)
        this.undo();
      if (e.key === "y" && (e.ctrlKey || e.metaKey) && this.redoable)
        this.redo();
      if (e.key === "q" && (e.ctrlKey || e.metaKey)) this.aaa();
    },

    //作られたリンクの検証
    createdLink(link) {
      // 入力から入力 出力から出力のポートに接続されたとき
      if (
        (link.start_port[0] == "i" && link.end_port[0] == "i") ||
        (link.start_port[0] == "o" && link.end_port[0] == "o")
      ) {
        this.disableHistorySync();
        this.$refs.editor.deleteLink(link.id);
        this.enableHistorySync();
      }
      // 出力から入力のポートに接続されたとき
      else if (link.start_port[0] == "i") {
        this.disableHistorySync();
        let start_port;
        let start_id;
        start_port = link.start_port;
        link.start_port = link.end_port;
        link.end_port = start_port;
        start_id = link.start_id;
        link.start_id = link.end_id;
        link.end_id = start_id;
        this.enableHistorySync();
      }

      const start_port_invalid = this.findRecords(
        this.diagram.links,
        "start_id",
        link.start_id
      ).some((record) => {
        return record.start_port === link.start_port;
      });
      const end_port_invalid = this.findRecords(
        this.diagram.links,
        "end_id",
        link.end_id
      ).some((record) => {
        return record.end_port === link.end_port;
      });
      if (start_port_invalid || end_port_invalid) {
        this.disableHistorySync();
        this.$refs.editor.deleteLink(link.id);
        this.enableHistorySync();
      } else {
        this.updateHistory();
      }
    },
  },

  computed: {
    model() {
      return this.$refs.editor.serialize();
    },
    undoable() {
      return this.history[this.historyOffset + 1] != null; //undoが可能かどうか(undoボタンのdisable/enableの切り替えに使う(undo出来ないときはボタンを押せないようにする))
    },
    redoable() {
      return this.history[this.historyOffset - 1] != null; //redoが可能かどうか(redoボタンのdisable/enableの切り替えに使う(redo出来ないときはボタンを押せないようにする))
    },
  },
  created() {
    document.title = "畳み込み符号器シミュレータ";
  },
  mounted() {
    document.addEventListener("keydown", this.keyDownHandler);
    window.addEventListener(
      "resize",
      _.debounce(() => {
        this.height = window.innerHeight - 10;
      }, 100)
    );
    this.$refs.editor.disableDblClickZoom();
    this.$refs.editor.setModel(this.diagram);
    this.enableDiagramSync();
    this.enableHistorySync();
    this.testInit();
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.keyDownHandler);
  },
};
</script>

<style lang="scss">
div .panel {
  width: 100vw;
  position: absolute;
  bottom: 20px;
}

.diagram-editor__wrapper {
  position: relative;
  height: 100%;
  svg {
    user-select: none;
    font-family: Helvetica, sans-serif;
  }
}

.diagram-editor__node-body {
  background-color: transparent;
}

.diagram-editor__delete {
  cursor: pointer;

  rect {
    fill: #000;
    fill-opacity: 0;
  }

  line {
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
  }
}

.diagram--editor__pulse {
  animation-duration: 2s;
  animation-name: diagram-editor--node-pulse;
  animation-iteration-count: infinite;
}

@keyframes diagram-editor--node-pulse {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 16;
  }
  100% {
    fill-opacity: 0;
    stroke-width: 0;
  }
}
</style>
